@font-face {
    font-family: ClashQuiz;
    src: url(/public/ClashDisplay-Variable.ttf);
}

div.visor {
    display: flex;
    flex-direction: column;
    width: 100%;
}

div.carta {
    padding: 50px;
    padding-bottom:0px;
}

div.contPreguntas{
    padding-left: 80px;
    padding-right: 80px;
    background-color: #F4F2F0;
}

div.contRespuestas{
    display: flex;
}

h1.pregunta {
    margin-top: 300px;
    color: black;
    font-family: ClashQuiz;
    font-weight:normal;   
    text-align: center;
    padding: 10px;
    padding-left: 20px;
    font-size: 80px;
    margin-left: 100px;
    margin-right:100px;
}

h1.preguntaCard {
    color: black;
    font-family: ClashQuiz; 
    font-weight:normal;      
    padding: 10px;
    padding-left: 20px;
    font-size: 55px;
    margin-left: 100px;
    margin-right:100px;
    text-align: center;
}

h2.respuesta {
    background-color: rgb(255, 255, 255);
    border-radius: 100px;
    border: solid 0.5px #819C6D;
    color: black;
    font-family: ClashQuiz; 
    font-weight:normal;      
    font-size: 80px;
    padding: 20px 30px 20px 30px;
    margin-left: 50px;
    margin-right: 50px;
}

h2.respuestaCard {
    border: solid 0.5px #819C6D;
    background-color: rgb(255, 255, 255);
    border-radius: 50px;
    color: black;
    font-family: ClashQuiz; 
    font-weight:normal;       
    font-size: 200px;
    padding: 20px 40px 20px 40px;
    cursor: pointer;
    text-align: center;
    margin:0px;
}


h2.respuestaIncorrecta {
    background-color: #DD1645;
    border-radius: 60px;
    color: rgb(255, 255, 255);
    font-family: ClashQuiz; 
    font-weight:normal;    
    padding: 10px;
    margin-left: 50px;
    margin-right: 50px;
    font-size: 80px;
    padding: 20px 30px 20px 30px;
}

h2.respuestaIncorrectaCard {
    background-color: #DD1645;
    border-radius: 50px;
    color: rgb(255, 255, 255);
    font-family: ClashQuiz;
    font-weight:normal;      
    padding: 10px;
    cursor: pointer;
    font-size: 200px;
    padding: 20px 40px 20px 40px;
    text-align: center;
    margin:0px;
}

h2.respuestaCorrecta {
    background-color: #819C6D;
    border-radius: 60px;
    color: rgb(255, 255, 255);
    font-family: ClashQuiz;
    font-weight:normal;      
    padding: 10px;
    margin-left: 50px;
    margin-right: 50px;
    font-size: 80px;
    padding: 20px 30px 20px 30px;
}

h2.respuestaCorrectaCard {
    background-color: #819C6D;
    border-radius: 50px;
    color: rgb(255, 255, 255);
    font-family: ClashQuiz;
    font-weight:normal;      
    padding: 10px;
    cursor: pointer;
    font-size: 200px;
    padding: 20px 40px 20px 40px;
    text-align: center;
    margin:0px;
}

.open {
    margin: 0 auto;
    margin-bottom: 100px;
    text-align:center;
    padding-top: 20px;
    border: solid 1px white;
    width: 50%;
    height: 70px;
    font-size: 40px;
    background-color: #819C6D;
    border-radius: 100px;
    color: white;
    font-family: ClashQuiz; 
    font-weight:400;  
}

.closed {
    display: none;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, 900px);
    gap: 15px;
    padding: 10px;
    justify-content: space-evenly;
}

.gridCard {
    display: grid;
    grid-template-columns: repeat(auto-fill, 400px);
    row-gap: 40px;
    column-gap: 0px;
    padding: 10px;
    justify-content: space-evenly;
}