
input {
    margin: 20px;
    border: none;
    border-radius: 5px;
    background-color: white;
    font-size: 80px;
}

.formulario {
    display:flex;
    flex-direction: column;
    align-items: center;
    margin: 30px;
}

h1.points{
    font-size: 80px;
}

button.guardar{
    font-size: 80px;
}

button.closed{
    display:none;
}



