@font-face {
    font-family: ClashQuiz;
    src: url(/public/ClashDisplay-Variable.ttf);
}

.cardOpen {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cardClosed {
    display: none;
}

.contenedorCarta1 {
    height: 1920px;
    width: 1080px;
    margin: 0 auto;
    overflow: auto;
    background-image: url(/public/ImgFondo.png);
    background-size: cover;
}

.contenedorCarta2 {
    height: 1920px;
    width: 1080px;
    margin: 0 auto;
    overflow: auto;
    background-color: #E9E5E2;
    background-size: cover;
}

.contenedorCarta3 {
    height: 1920px;
    width: 1080px;
    margin: 0 auto;
    overflow: auto;
    background-color: #32233C;
    background-size: cover;
}

.contenedorVisor {
    width: 2160px;
    height: 3840px;
    justify-content: center;
    margin: 0 auto;
    overflow: auto;
    background-image: url(/public/ImgFondo.png);
    background-size: cover;
}

.ranking {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.rankingCard {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.jugador {
    display: flex;
}

.nombreJugador {
    display: flex;
    padding: 0px 0px 0px 60px;
    background-color: none;
    border-radius: 100px;
    border: solid 10px white;
    color: White;
    font-family: ClashQuiz;
    font-weight: normal;
    font-size: 70px;
    align-items: center;
    width: 100%;
    height: 150px;
    justify-content: space-between;
}

.nombreJugadorCard {
    display: flex;
    padding: 0px 0px 0px 60px;
    background-color: none;
    border-radius: 100px;
    border: solid 10px white;
    color: White;
    font-family: ClashQuiz;
    font-weight: normal;
    font-size: 55px;
    align-items: center;
    width: 100%;
    height: 100px;
    justify-content: space-between;
}

.puntosJugador {
    display: flex;
    text-align: center;
    background-color: white;
    border-radius: 100px;
    color: Black;
    font-family: ClashQuiz;
    font-weight: normal;
    font-size:70px;
    height: 100%;
    width: 50%;
    justify-content: space-around;
    align-items: center;
}

.puntosJugadorCard {
    display: flex;
    text-align: center;
    background-color: white;
    border-radius: 100px;
    color: Black;
    font-family: ClashQuiz;
    font-weight: normal;
    font-size: 55px;
    height: 100%;
    width: 50%;
    justify-content: space-around;
    align-items: center;
}

.nombrePrimero{
    display: flex;
    padding: 0px 0px 0px 60px;
    background-color: #32233C;
    border-radius: 100px;
    border: solid 5px white;
    color: White;
    font-family: ClashQuiz;
    font-weight: normal;
    font-size: 70px;
    align-items: center;
    width: 100%;
    height: 150px;
    justify-content: space-between;
}

.nombrePrimeroCard{
    display: flex;
    padding: 0px 0px 0px 60px;
    background-color: #32233C;
    border-radius: 100px;
    border: solid 5px white;
    color: White;
    font-family: ClashQuiz;
    font-weight: normal;
    font-size: 55px;
    align-items: center;
    width: 100%;
    height: 100px;
    justify-content: space-between;
}

.puntosPrimero{
    margin-right: -5px;
    display: flex;
    text-align: center;
    background-color: white;
    border-radius: 100px;
    color: #32233C;
    border: solid 15px #32233C;
    font-family: ClashQuiz;
    font-weight: normal;
    font-size: 70px;
    height: 100%;
    width: 50%;
    justify-content: space-around;
    align-items: center;
}

.puntosPrimeroCard{
    margin-right: -5px;
    display: flex;
    text-align: center;
    background-color: white;
    border-radius: 100px;
    color: #32233C;
    border: solid 8px #32233C;
    font-family: ClashQuiz;
    font-weight: normal;
    font-size: 55px;
    height: 100%;
    width: 50%;
    justify-content: space-around;
    align-items: center;
}

.banderitas{
    display: flex;
    width: 60%;
    height: 190px;
    margin-top: -255px;
    margin-left: 800px;
    margin-bottom: 40px;
}

.banderitasCard{
    display: flex;
    width: 60%;
    height: 120px;
    margin-top: -180px;
    margin-left: 385px;
    margin-bottom: 22px
}

.tituloRanking {
    margin-top: 300px;
    display: flex;
    padding: 0px 60px 0px 60px;
    background-color: none;
    border-radius: 100px;
    border: solid 10px white;
    color: White;
    font-family: ClashQuiz;
    font-weight: normal;
    font-size: 70px;
    align-items: center;
    width: 50%;
    height: 100px;
    justify-content: center;
}

.tituloRankingCard {
    display: flex;
    padding: 0px 60px 0px 60px;
    background-color: none;
    border-radius: 100px;
    border: solid 10px white;
    color: White;
    font-family: ClashQuiz;
    font-weight: normal;
    font-size: 70px;
    align-items: center;
    width: 50%;
    height: 100px;
    justify-content: center;
}

ol {
    list-style-type: upper-roman;
    list-style-position: inside;
    width: 80%;
    padding: 0px;
}

.textoInicio {
    padding-top: 1300px;
    font-size: 100px;
    color: white;
    font-family: ClashQuiz;
    font-weight: 400;
    text-align: center;
    margin-left: 100px;
    margin-right: 100px;
}

.textoRegistro {
    padding-top: 500px;
    font-size: 80px;
    color: white;
    font-family: ClashQuiz;
    font-weight: 400;
    text-align: center;
}

.nombreInput {
    width: 70%;
    background-color: white;
    border-radius: 100px;
    color: black;
    font-size: 70px;
    padding: 20px 40px;
    font-family: ClashQuiz;
    font-weight: 400;
}

.nombreInputGris {
    width: 70%;
    background-color: white;
    border-radius: 100px;
    color: rgb(100, 100, 100);
    font-size: 70px;
    padding: 20px 40px;
    font-family: ClashQuiz;
    font-weight: 400;
}

.textoInicioCard {
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 500px;
    margin-bottom: 100px;
    font-size: 50px;
    color: white;
    text-align: center;
    font-family: ClashQuiz;
    font-weight: 400;
}

button.empezarBoton {
    width: 40%;
    border: solid 5px white;
    margin: 50px;
    height: 100px;
    font-size: 60px;
    background-color: #807C98;
    border-radius: 100px;
    color: white;
    font-family: ClashQuiz;
    font-weight: 400;
}

button.homeBoton {
    width: 40%;
    border: solid 5px white;
    margin: 250px 50px 50px 50px;
    height: 110px;
    font-size: 60px;
    background-color: #807C98;
    border-radius: 100px;
    color: white;
    font-family: ClashQuiz;
    font-weight: 400;
}

button.registrarBoton {
    border: none;
    padding: 20px 40px;
    margin: 20px;
    height: 150px;
    width: 60%;
    font-size: 60px;
    background-color: white;
    border-radius: 100px;
    color: black;
    font-family: ClashQuiz;
    font-weight: 400;
}

button.rankingBoton {
    border: solid 1px white;
    padding: 10px 30px 10px 30px;
    width: 40%;
    margin-top: 200px;
    height: 100px;
    font-size: 50px;
    background: none;
    border-radius: 100px;
    color: white;
    font-family: ClashQuiz;
    font-weight: 400;
}

.casilla {
    position: relative;
    overflow: hidden;
    width: 100%;
}

.contadorOpen {
    height: 250px;
    background: linear-gradient(rgb(255, 255, 255), #DCE3D6);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.tiempOpen {
    padding-bottom: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.tiempOpenCard {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 60px;
}

.contContador {
    background-color: #F4F2F0;
}

.currentPuntos {
    background-color: rgb(227, 240, 236);
    border-radius: 50px;
    margin: 20px;
    padding: 20px;
    color: rgb(30, 44, 39);
    font-weight: bold;
    font-family: ClashQuiz;
    font-weight: normal;
    font-size: 45px;
}

.currentPregunta {
    padding-top: 120px;
    color: rgb(0, 0, 0);
    font-weight: bolder;
    font-family: ClashQuiz;
    font-weight: normal;
    font-size: 60px;
}

.tituloPreguntaCard {
    width: 100%;
    background-color: #E9E5E2;
}

.currentPreguntaCard {
    margin: 80px 0px 0px 50px;
    color: rgb(0, 0, 0);
    font-weight: bolder;
    font-family: ClashQuiz;
    font-weight: normal;
    font-size: 50px;
}

.contadorPreguntaCard {
    margin: 80px 0px 0px 800px;
    color: rgb(0, 0, 0);
    font-weight: bolder;
    font-family: ClashQuiz;
    font-weight: normal;
    font-size: 50px;
}

.teclado {
    width: 80%;
}

.contLng{
    border-radius: 30px;
    margin-left: 50px;
    margin-bottom: 20px;
  }
  
  .contLngRes{
    border-radius: 30px;
    border: solid 2px rgb(228, 136, 31);
    background-color: rgb(228, 136, 31);
    margin-left: 20px;
    margin-bottom: 10px;
  }
  
  .lngOff{
    cursor:pointer;
    border-radius: 30px;
    background-color: rgb(228, 136, 31);
    color: white;
    border:none;
    font-size: large;
  }
  
  .lngOn{
    cursor:pointer;
    border-radius: 30px;
    background-color: white;
    color: rgb(228, 136, 31);
    border:none;
    font-size: large;
  }